.colors {
	padding: 35px 15px 45px;

	&__title {
		font-family: $montser;
		font-weight: 700;
		font-size: 1.6875rem;
		line-height: 1.2;
		letter-spacing: 0.01em;
		margin-bottom: 15px;
		color: #4B4B4B;
	}

	@media (min-width: 768px) {
		padding: 66px 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		&__title {
			font-size: 2.25rem;
			letter-spacing: 0.03em;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}
